<div class="container paper">
  <section class="items-start content-start justify-between block pb-4 border-b-2 border-slate-700 sm:grid sm:grid-cols-2">
    <div>
      <div class="sm:text-xl">Donovan C. Young</div>
      <div class="italic">Senior, Full-Stack Software Engineer</div>
      <div class="">Atlanta, GA, United States / Remote</div>
    </div>
    <div class="hidden sm:grid justify-self-end">
      <div class=""><%= link_to "https://www.donovanyoung.com/resume" %></div>
      <div class="flex justify-end pt-2 text-xl not-prose">
        <%= render "elements/social_links" %>
      </div>
    </div>
  </section>

  <section class="hidden py-4 border-b-2 sm:grid sm:grid-cols-4 sm:gap-2 border-slate-700">
    <div class="mb-5 text-lg italic sm:text-xl sm:text-blue-500">Technical Skills/Tags</div>
    <div class="sm:col-span-3">
      <div class="">
        <%= render "elements/tags", tags: @tags %>
      </div>
    </div>
  </section>

  <section class="py-4 border-b-2 sm:grid sm:grid-cols-3 sm:gap-2 border-slate-700">
    <div class="mb-4 text-lg italic sm:text-xl sm:text-blue-500">Experience</div>
    <div class="sm:col-span-2">
      <%= render("resume_experience",
                 start_date: "July 2022",
                 end_date: "August 2023",
                 title: "Senior Software Engineer",
                 company: "LinkSquares",
                 always_show: true,
                 tags: %w[Ruby Ruby-on-Rails JavaScript ReactJS Docker Heroku AWS AWS-S3 AWS-Lambda]) do %>
        <p>LinkSquares is a contract lifecycle management (CLM) platform that helps legal and finance teams work smarter.</p>
        <p>Fullstack developer working with Ruby, Rails, ReactJS, and AWS Lambda.</p>
        <p>I worked on several projects involved in leveraging internal and external A.I. processes, including:
          <ul>
            <li>Core Application functionality</li>
            <li>Read and parse digital documents via AWS Lambda pipelines</li>
            <li>Application used to correct inconsistencies in the A.I. generated results</li>
          </ul>
        </p>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "Mar 2020",
                 end_date: "July 2022",
                 title: "Senior Software Engineer",
                 company: "SharpSpring / ConstantContact",
                 always_show: true,
                 tags: %w[Ruby Ruby-on-Rails JavaScript ReactJS Java Docker Heroku GCP GoogleAds AWS AWS-S3]) do %>
        <p class="italic">Note: SharpSpring was aquired by ConstantContact in Jan of 2022</p>
        <p>Fullstack development on PerfectAudience, SharpSpring Ads, applications and, more recently, the ConstantContact CPE application suite.</p>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "Jan 2015",
                 end_date: "Oct 2019",
                 title: "Principal Software Engineer",
                 company: "Oracle, Inc.",
                 always_show: true,
                 tags: %w[Ruby Ruby-on-Rails Sinatra JavaScript ReactJS Docker Java Apache-kafka micro-services]) do %>
        <p>Development of customer-facing web technologies utilizing Ruby/Rails/Sinatra/Node/Java along with a ReactJS UI.</p>
        <p>Additionally, I built a suite of back-end micro-services leveraging Apache's Kafka messenging bus which handled customer notifications (SMTP, SMS, App pop).</p>
        <p class="italic">Oracle closed the Atlanta development OU in October of 2019, laying off all employees.</p>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "May 2011",
                 end_date: "Jan 2019",
                 title: "Actor / Improv Performer",
                 company: "Whole World Improv Theater",
                 always_show: true,
                 tags: %w[acting improv comedy public-speaking team-building Ruby Ruby-on-Rails]) do %>
        <p>Founded in 1993, The <%= link_to("Whole World Improv Theater", "http://www.wholeworldtheatre.com") %> (WWIT) is best known for creating a unique and hilarious improv
        experience on the spot based on audience suggestions with no lines and no prepared script. Voted "Best Local Improv
        Group" by the Sunday Paper, "Best Comedy Club" by AOL City Guide and "Best Theatre" by Atlanta Magazine.</p>
        <ul>
          <li>I performed live on-stage with the company house troupe most Friday and Saturday nights and MC'ed shows on Thursday nights</li>
          <li>Designed, developed and maintain (to this day) the "members only" website used by WWIT administration to coordinate shows and schedules,
              including an auto-scheduler for crew shifts. Written in Ruby on Rails and maintained as part of my developer portfolio</li>
          <li>Additionally, I implemented a DVR system to digitally record shows and an iMac system to play "shorts" (we call them Renegades)</li>
        </ul>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "Oct 2011",
                 end_date: "Dec 2014",
                 title: "Information Technology Director",
                 company: "Redi-Floors, Inc.",
                 tags: %w[Windows Linux Docstar RFMS Cisco firewalls Ruby Ruby-on-Rails MacOS VPN AWS it-support active-directory MS-server]) do %>
        <ul>
          <li>Responsible for all operations and budgeting of the company IT department</li>
          <li>Wrote and maintained the company website utilizing Ruby on Rails</li>
          <li>Developed and maintained the in-house REST API for our legacy ERP system</li>
          <li>I've written several Ruby based programs to interface with our legacy business systems</li>
          <li>Implemented cloud based online access for website and help desk</li>
          <li>Designed and Implemented Site-To-Site VPN connections for all remote locations throughout the SouthEast</li>
        </ul>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "Sep 2009",
                 end_date: "Oct 2011",
                 title: "Senior Systems Administrator",
                 company: "USAN",
                 tags: %w[VMWare Linux Perl shell Asterisk VOIP Apache]) do %>
        <ul>
          <li>Technology administration and back-line support for back-end Linux platforms supporting mission critical customer applications</li>
          <li>Admin VMware server clusters</li>
          <li>Day to Day care and feeding of the CentOS servers</li>
          <li>Build and configuration of those same CentOS servers</li>
          <li>System CLI development in Perl & Ruby to automate and collaborate with asterisk and to generally help get things done</li>
          <li>Collaborate with the rest of the teams to keep the gears in motion and well oiled</li>
        </ul>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "Feb 2006",
                 end_date: "Sep 2009",
                 title: "Director of Information Technology",
                 company: "TechSafari",
                 tags: %w[Perl Linux Cisco PIX Nagios VPN firewalls]) do %>
        <p>TechSafari is a small software development and consulting company specializing in advanced consumer credit data analysis.</p>
        <ul>
          <li>Responsible for the 24x7 management of our primary customer's mission critical technology needs</li>
          <li>Technical lead for all IT audits with major credit data suppliers</li>
          <li>Maintained multiple highly available and secure data center facilities</li>
          <li>Managed multiple data sources containing billions of highly sensitive consumer credit data records</li>
          <li>Authored and implemented corporate security and disaster recovery policies and procedures</li>
          <li>Developed and implemented an online monitoring system (using Nagios) to maintain high availability across all servers including custom written monitoring applications for specialized processes.</li>
          <li>Implemented a robust helpdesk system designed to efficiently manage customer requests reducing task turnaround time and increasing productivity</li>
          <li>Helped design and implement several custom 24TB high performance SATA array systems for production environments</li>
        </ul>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "Mar 2004",
                 end_date: "Feb 2006",
                 title: "Director of Information Technology",
                 company: "M.S. Lee International, LLC (MSLI)",
                 tags: %w[MS-exchange MS-server BackupExec Watchguard Barracuda firewalls]) do %>
        <p>MSLI was a supplemental health insurance startup founded in 2004 and backed by AIG, Inc. I was part of the initial start-up
        management team responsible for designing, developing, implementing, and managing all aspects of the corporation's
        information technology infrastructure from the ground up including all enterprise servers, network backbone, and the data
        center construction which included redundant environmental control and power backup systems. I was part of a small team
        which assessed the ability of enrollment firms to work with MSLI as a business partner. This involved traveling to the
        enrollment companies, interviewing their management team, and evaluating their technology infrastructure.</p>
        <ul>
          <li>Evaluated, engineered, and managed the complete corporate technology infrastructure</li>
          <li>Designed and managed all operations of the corporate data center facilities</li>
          <li>Designed, implemented and managed the corporate internet web site</li>
          <li>Managed the building access security system for our suite</li>
          <li>Technical evaluation of outside enrollment firms business practices</li>
        </ul>
        <p class="italic">MSLI closed for good in February 2006 due to lack of funding</p>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "Sep 1998",
                 end_date: "Mar 2004",
                 title: "Director of Systems Administration",
                 company: "DS Waters of America",
                 tags: %w[Oracle-ERP HP-UX EMC SAN Cisco firewall DNS VPN]) do %>
        <p>Formerly known as "Suntory Water Group, Inc."; re-branded after a major aquisition.</p>
        <p>I lead a team of System Administrators and was personally responsible for researching, recommending and purchasing all
        enterprise hardware in conjuncture with a company-wide migration to Oracle ERP 11i, which included high availability
        clustering, three tier web technology, a complete storage area network implementation, and high capacity disk array
        subsystem. In addition, my team maintained the centralized data center facilities including environmental controls and
        redundant power sources, internet mail bridge, web and ftp proxy services using squid, and DNS services for the company's
        internet domain "water.com".</p>
        <p>Personally responsible for:
          <ul>
            <li>Managing a team of 14 System Administrators responsible for all aspects of the corporate Unix, Windows, database and computer operations environments</li>
            <li>Accountable for a multi-million dollar capital and expense budget</li>
            <li>Hire/Fire decisions and annual employee appraisals</li>
          </ul>
        </p>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "Dec 1993",
                 end_date: "Sep 1998",
                 title: "Staff Manager",
                 company: "BellSouth Telecommunications (now AT&T)",
                 tags: %w[HP-UX Linux C C++ perl HTML]) do %>
        <p>Lead a team responsible for the installation and conversion of several major software applications. These included Unix on
        NCR, HP, and Sun systems and the conversion of existing database structures to new platforms.<p>
        <p>I was also responsible for upgrading HP-UX 9.04 to HP-UX 10.20 on many of the company enterprise systems.</p>
        <ul>
          <li>Provided 24 by 7 support for mission critical applications running on HP-UX</li>
          <li>Responsible for the administration of 60+ networked Unix systems</li>
          <li>Developed custom software in C and Perl to monitor system functionality</li>
          <li>Administration of Novel NetWare 3.12 network</li>
          <li>Developed custom HTML documents for in-house departmental homepage (writing HTML before HTML was cool)</li>
        </ul>
      <% end %>
    </div>
  </section>

  <section class="py-4 border-b-2 sm:grid sm:grid-cols-3 sm:gap-2 border-slate-700">
    <div class="mb-4 text-lg italic sm:text-xl sm:text-blue-500">Education &amp; Hobbies</div>
    <div class="sm:col-span-2">
      <%= render("resume_experience",
                 start_date: "1984",
                 end_date: "1986",
                 company: "Southern Illinois University") %>

      <hr class="my-4">

      <%= render("resume_experience",
                 start_date: "Oct 2018",
                 title: "Flight School",
                 company: "Centennial Aviation Academy",
                 tags: %w[PPL aviation]) do %>
        <p>I'm working towards my private pilots license (PPL) and currently have ~60 hours of recorded flight training, both instructed and solo.
        I still intend to complete my training in the near future.</p>
        <p class="italic">Sadly, I had to put this training on-hold due to the change in my occupational status and then the COVID-19 pandemic.</p>
      <% end %>

      <hr class="my-4">

      <%= render("resume_experience", start_date: "Other Stuff") %>

      <p>Proud to call myself a Father to three wonderful daughters, all out on their own and doing well.</p>
      <p>I'm constantly learning new things, pushing myself to be better than I was the day before.</p>

      <section class="grid grid-cols-3 gap-2">
        <div class="sm:text-blue-500">I also enjoy:</div>
        <div class="col-span-2">
          <ul>
            <li>SCUBA diving</li>
            <li>Performing Improv Comedy</li>
            <li>Dungeons &amp; Dragons</li>
            <li>Video Games</li>
          </ul>
        </div>
      </section>
    </div>
  </section>
</div>
