<a href=<%= about_path %>    class="p-2 <%= action_name == 'about'    && 'menu-active sm:menu-active-fancy' %>" role="menuitem">About Me</a>
<a href=<%= blogs_path %>    class="p-2 <%= action_name == 'blogs'    && 'menu-active sm:menu-active-fancy' %>" role="menuitem">Blogs</a>
<a href=<%= projects_path %> class="p-2 <%= action_name == 'projects' && 'menu-active sm:menu-active-fancy' %>" role="menuitem">Projects</a>
