<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Roboto+Slab&family=Rock+Salt&display=swap">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">
    <link rel="manifest" href="<%= asset_path('site.webmanifest') %>">

    <script src="https://kit.fontawesome.com/0163082c10.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen w-full bg-circuit-board-light dark:bg-circuit-board-dark bg-slate-200 dark:bg-slate-800 text-slate-800 dark:text-slate-300">
    <div id=page>
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
      <div id=main class="prose prose-slate dark:prose-invert max-w-none mx-auto mb-20 px-2 lg:px-4 lg:w-10/12">
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
